<%- include('../../components/header.ejs') %>
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-8 col-sm-10 col-xxl-4">
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Formulario de mascotas</h5>
                        <form method="post" action="<% if (mascota) { %>
                /mascotas/<%=mascota.id%>/edit
            <% } else{%>
                /mascotas/create
                <% } %>">
                            <div class="mt-2">
                                <label>Nombre</label>
                                <input class="form-control" type="text" name="nombre" placeholder="Nombre"
                                    value="<%=mascota && mascota.nombre %>">
                            </div>
                            <div class="mt-2">
                                <label>Tipo</label>
                                <select required name="tipo" class="form-select">
                                    <option value="">Seleccione un tipo</option>
                                    <option value="1" <%=(mascota && mascota.tipo==1) && "selected" %>>Perro
                                    </option>
                                    <option value="2" <%=(mascota && mascota.tipo==2) && "selected" %>>Gato
                                    </option>
                                    <option value="3" <%=(mascota && mascota.tipo==3) && "selected" %>>Capibara
                                    </option>
                                    <option value="4" <%=(mascota && mascota.tipo==4) && "selected" %>>Llama
                                    </option>
                                    <option value="5" <%=(mascota && mascota.tipo==5) && "selected" %>>Loro
                                    </option>
                                </select>
                            </div>
                            <div class="mt-2">
                                <label>Persona</label>
                                <select required name="personaId" class="form-select">
                                    <option value="">Seleccione una persona</option>
                                    <% personas.forEach(persona=> { %>
                                        <option value="<%=persona.id %>" <%=(mascota && mascota.personaId==persona.id)
                                            && "selected" %>>
                                            <%=persona.nombre %>
                                                <%=persona.apellido %>
                                        </option>
                                        <% }) %>

                                </select>
                            </div>
                            <div class="mt-2">
                                <input class="btn btn-primary" type="submit" value="Enviar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../components/footer.ejs') %>