<%- include('../../components/header.ejs') %>
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-8 col-sm-10 col-xxl-4">
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Formulario de competencias</h5>
                        <form method="post" action="<% if (competencia) { %>
                /competencias/<%=competencia.id%>/edit
            <% } else{%>
                /competencias/create
                <% } %>">
                            <div class="mt-2">
                                <label>Nombre</label>
                                <input class="form-control" type="text" name="nombre" placeholder="Nombre"
                                    value="<%=competencia && competencia.nombre %>">
                            </div>
                            <div class="mt-2">
                                <label>Fecha</label>
                                <input class="form-control" type="date" name="fecha" placeholder="Fecha"
                                    value="<%=competencia && fechaFormateada %>">
                            </div>
                            <div class="mt-2">
                                <input class="btn btn-primary" type="submit" value="Enviar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../components/footer.ejs') %>